/*fuck stupid ass fonts plugins
dumb variable fonts broken
bruh
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    @apply transition-colors duration-300 ease-in-out;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  a,
  button {
    @apply transition-all duration-300 ease-in-out;
  }

  img {
    pointer-events: none;
  }

  .nuxt-icon svg {
    margin-bottom: 0 !important;
  }

  .shadow-default {
    /* box-shadow: 0px 4px 8px 4px rgba(255, 255, 255, 1); */
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 1));
  }

  ::selection {
  }

  body {
    @apply bg-[#000000];
    @apply text-fg1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    @apply select-text;
  }
}
