@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    @apply transition-all ease-in-out duration-300;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  img {
    pointer-events: none;
  }

  .nuxt-icon svg {
    margin-bottom: 0 !important;
  }

  .shadow-default {
    /* box-shadow: 0px 4px 8px 4px rgba(255, 255, 255, 1); */
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 1));
  }

  ::selection {
    @apply bg-dark-border-alt;
  }

  body {
    @apply bg-dark;
    @apply text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    @apply select-text;
  }
}

@layer components {
  .section-title {
    @apply text-h-lg-700 text-hl-yellow;
  }

  .section-text {
    @apply text-body-md-600 text-light;
  }

  .btn-dark-outline {
    @apply border border-dark-border hover:bg-dark-alt;
  }

  .btn-light {
    @apply bg-light text-dark hover:bg-light-secondary;
  }

  .btn-highlight {
    @apply bg-hl-yellow text-dark hover:bg-hl-yellow-secondary;
  }
}
